body {
	background-color: black;
	color: blue;
}

h1 {
	text-align: center;
	margin: auto;
}

.hints {
	margin: auto;
	text-align: center;
}

.red {
	color: red;
}

#gameScreen{
	position: relative;
	background-color: silver;
	overflow: hidden;
	margin: auto;
}

.gameObject{
	position: absolute;
	z-index: 1;
}

#screenWrapper {
	margin: auto;
}