body {
	background-color: black;
	color: blue;
}

h1 {
	text-align: center;
	margin: auto;
}

.hints {
	margin: auto;
	text-align: center;
}

.red {
	color: red;
}

#gameScreen{
	position: relative;
	background-color: silver;
	overflow: hidden;
	margin: auto;
}

.gameObject{
	position: absolute;
	z-index: 1;
}

#screenWrapper {
	margin: auto;
}

.pane {
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    min-width: 40vw;
    max-width: 800px;
    background-repeat: repeat;
    color: white;
    font-size: 22px;
    padding: 5px;
}

#footer {
    text-align: center;
}